.heading{
text-align: center;
font-size: 70px;
}
img{
    height: auto;
    width: 500px;
}
p,ul{
    font-size: 22px;
    font-weight: 400;
}
h1{
    color: brown;
    font-size: 40px;
}
h2{
    font-weight: 700;
    font-size: 25px;
}